*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
body{
  background-image: url('./components/IMAGE.png');
  background-size: cover;
}
.no-found{
  text-align: center;
  font-size: 25px;
  color: rgb(185, 13, 13);
  font-family: Roboto;
  font-weight: 600;
}